<select>
  <option value="system">System</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
  <option value="sepia">Sepia</option>
</select>

<script>
  const key = "theme";
  const themes = ["system", "light", "dark", "sepia"] as const;
  type Theme = (typeof themes)[number];

  const getTheme = () => localStorage.getItem(key) as Theme | null;
  const setTheme = (theme: Theme) => localStorage.setItem(key, theme);
  const setHTMLTheme = (theme: Theme) => document.documentElement.dataset.theme = theme;;

  document.addEventListener("DOMContentLoaded", () => main());
  const main = () => {
    const selector = document.querySelector("select");
    if (!selector) return;

    const saved = getTheme();
    if (saved) {
      selector.value = saved;
      setHTMLTheme(saved);
    }

    selector.addEventListener("change", () => {
      const value = selector.value as Theme;
      setTheme(value);
      setHTMLTheme(value);
    });
  };
</script>
